/* Magical Place Color Scheme */

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 234, 245);
  height: 100%;
  margin: auto;
}

h1{
  text-align:center;
  color: black;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Tangerine', cursive;
  background-color: rgb(242, 234, 245);
  margin-bottom: 0em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight:lighter;
  background-color: rgb(242, 234, 245);
}

#tarot{
  background-color: rgb(242, 234, 245)
}

.rider {
  display: flex;
}

.rider > button {
  border: none;
  background: none;
  width: 100%;
}

#deck-info{
  display: inline-flex;
}

#deck-info:hover {
  text-shadow: 3px 1px rgba(254, 151, 168, 1);
}

.the-card-reading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  background-color: rgba(245, 209, 179, 0.5);
  top: 50%;
  border-radius: 7%;
  margin: 1em 0em;
}
.card-name {
  color: black;
}

#card-reading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  font-size: 18px;
  font-family: 'TPlayfair Display', serif;
}

.card-imageUp {
  width: 200px;
  height: 340px;
  margin: auto;
  border-radius: 5.5%;
  /* transform: rotate(-180deg); */
}

.card-imageRev {
  width: 200px;
  height: 340px;
  margin: auto;
  border-radius: 5.5%;
  transform: rotate(-180deg);
}

.card-back{
  margin: auto;
  width: 200px;
  height: 340px;
  border-radius: 6.5%;
}

.card-name {

margin: 1em 0em;
color: black

}

.buttons {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#draw {
  background-color: rgb(43, 22, 52);
  margin: 1em;
  border: 1px solid #e0cce4;
  font-weight: bold;
  color: rgb(242, 234, 245);
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 6.5%;
  width: 4em;
  font-family: 'Playfair Display', serif;
}
span {
  display: flex;
  justify-content: center;
}
#closeBtn , #close-modal2, #close-one{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 8px;
  border-radius: 100%;
  background-color: rgba(254, 151, 168, 0.5);
  border: 1px solid rgba(254, 151, 168, 0.5);
}


#modal-three {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 550px;
  max-height: 100%;
  z-index: 1;
}

#inner-modal-three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(103, 82, 175);
  text-align: center;
  color: black;
  margin:auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif;
}

.one-card > button{
  border: none;
  background: none;
  width: 400px;

}

#one-card-reading{
  font-family: 'Playfair Display', serif;
  font-size: 23px;
}
#one-card-reading:hover{
  text-shadow:  2px 1px rgba(254, 151, 168, 1);
}
#inner-modal-three > p {
  padding: 0;
  margin: 0em 0em 1em 0em;;
}

#inner-modal-three > ul{
  margin: 0em 0em 1em 0em;
}


#modal-two {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 550px;
  max-height: 100%;
  z-index: 1;
}

#inner-modal-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(103, 82, 175);
  text-align: center;
  color: black;
  margin:auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif;
}

.links-to-learn-more > p{
  padding: 0px;
  margin: 0em 1em 1em 1em;
}


a > li {
  list-style: none;
}

p > span {
  display: inline-flex;
  font-style: italic;
  font-weight: bold;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  overflow-y: scroll;
  z-index: 1;
}

#cardName > h3{
  margin-top: 1em;
  margin-bottom: 0em;
}

#modal-innards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(103, 82, 175);
  text-align: center;
  color: black;
  margin:auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif;
}

#modal-innards > img {
  width: 100px;
  height: 170px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0em;
}

#modal-innards > .modal-card{
  width: 150px;
  height: 255px;
  margin: 1em 0em;
}

#modal-innards > h3 {
  margin: 0;
}

#modal-innards > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0em;
}

p {
  margin: 0em;
  padding-top: 0em;
  padding: 1.5em;
}

@media screen and (max-width: 980px) {

  body{

    margin-top: 50%;
  }

#tarot {

  height: max-height;
  width: 100%;

}
header {
  /* margin-top: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#deck-info {
  width: 100%;
}
#deck-info:hover {
  text-shadow: none;
}
h1 {
  display: inline-flex;
  font-size: 8em;
}
.one-card > button{
  width: 100%
}
#one-card-reading {
  width: 100%;
  font-size: 3em;
}
#one-card-reading:hover{
  text-shadow:  none;
}

.the-card-reading {
  width: 100%;
  margin: auto;
}
.card-back, .card-imageUp , .card-imageRev {
  width: 100%;
  height: 100%;
}

#draw {
  font-size: 1em;
}

#modal, #modal-two, #modal-three {
  top: 50%;
  width: 90%;
}

#modal-innards > .modal-card {
  width: 25%;
  height: 25%;
}
h4 {
  font-size: 1em;
}
.card-name {
  font-size: 2em;
}

.card-meaning, .card-desc {
  font-size: 1.5em;
}

#closeBtn {
  font-size: 1.5em;
}

#inner-modal-two > h3 {
  font-size: 2em;
  flex-grow: 3;
}

#inner-modal-three > h3 {
  font-size: 2em;
}

p, li {
  font-size: 1em
}

}
