body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align:center;
  color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.card-image {
  width: 200px;
  height: 340px;
  margin: auto;
}

.card-back{
  margin: auto;
  width: 200px;
  height: 340px;
  border-radius: 6.5%;
}

.card-name {
margin: auto;
color: black

}

.buttons {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#draw {
  margin: auto;
  border: 1px solid black;
  color: purple;
  padding: 2px;
  font-size: 13px;
  width: 4em;
}
